
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.dm-sans-light {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.dm-sans-black {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

html, * {
    letter-spacing: -1.5px;
    color: #ffffffbf;
    line-height: 1;
    font-family: "DM Sans", sans-serif;
}

.page {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: top;
    padding: 0;
}



.title {
    font-size: 162px;
    color: #ffffffbf;
    font-weight: 400;
    line-height: 0.8;
    margin-bottom: 60px;
}

.label {
    font-size: 54px;
    background-color: #ffffffbf;
    display: block;
    margin-top: 10px;
    padding: 10px 25px;
    text-align: center;
    width: fit-content;
}

.intro {
    padding-bottom: 60px;
}

.intro img {
    width: 80%;
    
}

.enhance {
    font-size: 100px;
    color: #639AB4;
}

p {
    font-size: 45px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-color {
    color: #436E76;
}

.to-right {
    background-color: #ffffffbf;
    border-radius: 50px 0 0 50px;
    width: 200%;
    text-align: left;
}
.to-left {
    background-color: #ffffffbf;
    border-radius: 0 50px 50px 0;
    width: 200%;
    text-align: right;
    position: relative;
    left: -100%;
}

.bg-custom {
    background-color: #ffffffbf;
    border-radius: 50px;
    padding: 50px 40px;
}

h2 {
    margin-bottom: 30px;
    margin-top: 150px;
}

.over-none {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

.full-bleed-right .enhance, .to-right .enhance {
    padding: 50px 40px;
    text-align: left;
    display: block;
    line-height: 70px;
}

.full-bleed-right .enhance .small, .to-right .enhance .small {
    font-size: 60px;
    color: #436E76;
}

.full-bleed-right {
    position: relative;
    left: 100%;
    right: 0;
    background-color: #ffffffbf;
    border-radius: 50px 0 0 50px;
}


.Marquee-box {
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
}

.MyMarquee {
  display: flex;
  flex-wrap: nowrap;
  cursor: grab;
  margin: 20px 0;
}

.marquee-content {
  display: flex;
  flex-wrap: nowrap;
}

.card { 
    background-image: url('img/bg-card.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    user-select: none;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffbf;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 45px;
    line-height: 35px;
    text-align: left;
}

.work {
    padding-bottom: 150px;
}

.margin-negativo {
    margin-top: -70px
}

.worktitle {
    width: 100%;
    color: #ffffffbf;
    /*background-image: url('img/bg-title.png');
    background-size: contain;
    background-repeat: no-repeat;*/
    background: radial-gradient(circle at 100% 100%, rgba(255,255,255,0) 0, rgba(255,255,255,0) 18px, transparent 18px) 0% 0%/20px 20px no-repeat,
            radial-gradient(circle at 0 100%, rgba(255,255,255,0) 0, rgba(255,255,255,0) 18px, transparent 18px) 100% 0%/20px 20px no-repeat,
            radial-gradient(circle at 100% 0, rgba(255,255,255,0) 0, rgba(255,255,255,0) 18px, transparent 18px) 0% 100%/20px 20px no-repeat,
            radial-gradient(circle at 0 0, rgba(255,255,255,0) 0, rgba(255,255,255,0) 18px, transparent 18px) 100% 100%/20px 20px no-repeat,
            linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)) 50% 50%/calc(100% - 4px) calc(100% - 40px) no-repeat,
            linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)) 50% 50%/calc(100% - 40px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(72,171,224,0.15) 75%, rgba(152,249,255,0.39) 100%),
            linear-gradient(146deg, rgba(234,191,255,0.34) 0%, rgba(235, 190, 255, 0.106) 80%, rgba(135,38,183,0) 100%);
    border-radius: 70px;
    padding: 3px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.bg-opaco {
    width: 99.5%;
    background-image: url('img/bg-title.png');
    background-size: cover;
    border-radius: 60px;
    backdrop-filter: blur(100px);
}

.worktitle h3 {
    color: #ffffffbf;
    font-size:60px;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-weight: 300;
    
}

.description {
    font-size: 45px;
}

.preview img {
    width: 80%;
}

.preview img.full {
    width: 90%;
}

.preview {
    text-align: center;
}

.label-detail {
    padding: 20px 40px;
}

.margin-bottom {
    margin-bottom: 30px;
}


.detail span, .detail b {
    color: #4B7489;
    font-size: 35px;
}

@media (max-width: 1043px) {
    .full-bleed-right {
        position: static;
        width: 100%;
        margin-left: 0;
    }
}
  


